/* global */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: cursive;
}

/* container */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  padding: 10px;
}

/* logo */

/* navigation links */

.nav-bar {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.nav-bar ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 18px;
  font-style: italic;
}

.nav-bar ul li {
  display: flex;
}

.nav-bar .text {
  display: flex;
  text-decoration: none;
  color: rgb(243, 117, 138);
  font-size: 25px;
  font-weight: 900;
}

.nav-bar .text:hover {
  color: black;
  transition: ease 0.6s;
}

/* number & shopping cart */

.holder {
  display: flex;
  width: 34%;
  justify-content: space-between;
  align-items: center;
  margin-right: 2%;
}

.number {
  font-style: italic;
  font-weight: 900;
  font-size: 18px;
}

.number:hover {
  cursor: pointer;
  color: rgb(243, 117, 138);
  transition: ease 0.2s;
}

.cart,
.clear {
  background-color: transparent;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  font-family: cursive;
  font-style: italic;
  cursor: pointer;
  margin: 2px;
}

.cart {
  padding: 5px 20px;
  max-width: 300px;
  font-size: 20px;
}

.clear {
  padding: 5px 10px;
  font-size: 15px;
}

.cart:hover {
  background-color: rgb(243, 117, 138);
  border: 2px solid rgb(243, 117, 138);
  color: white;
}

.clear {
  padding: 5px 10px;
  background-color: transparent;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  font-family: cursive;
  font-size: 15px;
  font-style: italic;
  cursor: pointer;
  margin: 2px;
}

.clear:hover {
  background-color: rgb(243, 117, 138);
  border: 2px solid rgb(243, 117, 138);
  color: white;
}

.cart-buttons {
  display: flex;
}

/* home */

/* container */

.home {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* background image */

.home img {
  height: 100%;
  width: 100%;
}

/* welcome sign */

.welcome {
  color: white;
  font-size: 40px;
  position: absolute;
  margin-bottom: 360px;
}

.name {
  color: rgb(243, 117, 138);
  font-size: 60px;
}

/* explore button */

.explore {
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 30px;
  font-family: cursive;
  font-weight: 900;
  position: absolute;
  margin-top: -80px;
}

#explore {
  color: black;
  text-decoration: none;
}

.explore:hover {
  background-color: white;
  transition: 0.5s ease;
  text-decoration: none;
}

/* about us */

.about-us {
  display: flex;
  justify-content: space-evenly;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: 50px;
  margin-right: 50px;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.about-us h1 {
  font-size: 30px;
}

.about-us .us {
  font-size: 45px;
  color: rgb(243, 117, 138);
}

.about-us p {
  width: 70%;
}

.about-us .explore-more {
  margin-top: 20px;
  font-size: 25px;
  font-style: italic;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  padding: 5px 10px;
  outline: none;
}

#explore-more {
  color: black;
  text-decoration: none;
}

.about-us .explore-more:hover {
  background-color: black;
  transition: ease 0.2s;
}

#explore-more:hover {
  color: rgb(243, 117, 138);
}

.about-us img {
  height: 30%;
  width: 30%;
  outline-offset: 100px;
  border: 10px solid white;
  box-shadow: -15px -15px 0 -5px white, -20px -20px 0 0 gold;
  transition: ease 0.6s;
}

.about-us img:hover {
  border: 10px solid gold;
  box-shadow: none;
  transition: ease 2s;
}

/* main section */

.main {
  background-color: lightgrey;
}

/* title */

.title-container {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  padding-top: 50px;
}

.store {
  color: rgb(243, 117, 138);
  font-size: 50px;
}

/* buttons */

.button-holder {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
}

.filter-button {
  font-size: 18px;
  font-family: cursive;
  font-weight: 900;
  background-color: transparent;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: black;
  color: rgb(243, 117, 138);
  transition: ease 0.2s;
}

/* search bar */

.search-icon {
  padding: 5px 10px;
  outline: none;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-top: 25px;
}

.search-bar {
  padding: 10px 300px 10px 10px;
  outline: none;
  font-style: italic;
}

/* confectionary */

.confec-holder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  margin-top: 25px;
}

.image-holder {
  height: 250px;
  overflow: hidden;
}

.confec-image {
  max-width: 330px;
  cursor: pointer;
  transition: transform 1.5s ease;
}

.confec-image:hover {
  transform: scale(1.2);
}

.confec-name-price {
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 300px;
  padding: 15px;
  margin-top: -7px;
  margin-bottom: 20px;
}

.add-to-cart {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  background-color: transparent;
  border: 2px solid rgb(243, 117, 138);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  max-width: 100px;
  transition: transform 1s ease;
}

.add-to-cart:hover {
  transform: scale(1.2);
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  background-color: rgb(243, 117, 138);
  color: white;
}

/* Responsive Web Design */

@media screen and (max-width: 600px) {
  /* body */
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  /* navbar */
  .header {
    justify-content: space-between;
  }
  .logo {
    margin-left: -10px;
  }
  .nav-bar ul {
    width: 125px;
    justify-content: space-around;
  }
  #home-title,
  #about-title {
    display: none;
  }
  #store-title {
    margin-right: 10px;
  }
  .holder {
    margin-right: 0px;
    display: block;
    width: auto;
  }
  .number {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .cart-buttons {
    width: auto;
  }
  .cart,
  .clear {
    padding: 5px;
    margin: 5px;
    font-size: 15px;
  }
  /* home section */
  .home {
    height: auto;
    max-width: 100%;
  }
  .welcome {
    margin-bottom: 100px;
  }
  .explore {
    padding: 1px 5px;
    font-size: 20px;
    border: 1px solid black;
    margin-top: 220px;
    background-color: transparent;
  }
  /* about us section */
  .about-us {
    padding-top: 0px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 0px;
    flex-direction: column;
  }
  .about-us h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    margin-bottom: -10px;
  }
  .about-us .us {
    margin: 5px;
  }
  .about-us p {
    width: 200%;
  }
  .about-us .explore-more {
    margin-top: 30px;
    margin-left: 50px;
  }
  .about-us img {
    margin-left: 220px;
    margin-top: -35px;
  }
  /* Shop Section */
  .title-container {
    padding-top: 0px;
  }
  .search-bar {
    padding: 10px 100px 10px 10px;
  }
  .filter-button {
    font-size: 15px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media screen and (max-width: 375px) {
  .explore {
    padding: 1px 5px;
    font-size: 20px;
    border: 1px solid black;
    margin-top: 190px;
    background-color: transparent;
  }
}
